@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255 197 187);
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container{
    max-width: 825px;
    max-height: 530px;
    margin: auto;
    padding: 67px;
}
.top{
    background-color:rgb(227 97 79);
    width: 313px;
    height: 252px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: auto;
    position: relative;
    z-index: 1;
}
.timers{
    font-size: larger;
    display: flex;
    flex-direction: row;
}
.bottom{
    background-color: rgb(253 253 253);
    width: 310px;
    height: 277px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: -140px;
    left: 0;
    display: grid;
}
#none-display{
    display: none;
}
p{
    text-align: center;
    padding: 21px;
    color: #87405b;
    font-size: 20px;
}
input{
    /* margin: 11px 143px 15px 2px;
     */
     width: 101px;
    height: 30px;
    border: none;
    display: flex;
    
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 14px;
    /* padding-bottom: 12px; */
}
button{
    font-size: 14px;
    color: brown;
    border: none;
}
button:hover{
    
        background-color: rgb(227 97 79);
    
}