@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	font-size: 1.4rem;
	font-weight: inherit;
	background-color: #1fc69d;
	height: 100vh;
	width: 100vw;
}
.container{
    position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 20rem;
	width: 60rem;
	background-color: transparent;
	border-radius: 3px;
	box-shadow: none;
}
.clock-column {
	margin-right: 7rem;
	text-align: center;
	position: relative;

	&::after {
		content: ':';
		display: block;
		height: .25rem;
		width: .25rem;
		font-size: 36px;
		font-weight: 200;
		color: #131313;
		position: absolute;
		top: -7px;
        right: -50px;
	}
	&:last-child {
		&::after {
			display: none;
		}
	}
}
.clock-label {
	padding-top: 10px;
	text-transform: uppercase;
	color: #131313;
	font-size: 14px;
	text-align: center;
	border-top: 1px solid rgba(19, 19, 19, 0.5);
}

.clock-timer {
	color: #131313;
	font-size: 36px;
	line-height: 1;
}
.clock-input {
	clear: both;
	text-align: center;
	max-width: 500px;
	width: 100%;
	margin: 0 auto 10px;
}
input#time-to {
	padding: 5px;
	border: 0;
	border-radius: 3px;
	font-size: 16px;
	font-family: monospace;
	text-align: center;
	color: #010101;
	background-color: #fff;
}
 button{
    padding: 13px;
    border-radius: 11px;
    border: none;
 }

button:hover{
    
        background-color: rgb(227 97 79);
    
} 

.error-msg{
    color: #a90c0c;
    display: none;
}
.time-to{
    padding: 13px;
    border-radius: 10px;
    border: none;
}