@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --white: #fff;
    --background:#0a1f44;
    --red:#ff1e42;
    --darkred: #c3112d;
    --orange:#ff8c00;
    --textDark:#1e2432;
        
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
background-color: var(--background);
color:var(--textDark);
font-family:  "Roboto", sans-serif;
font-size: 1rem;
}

button{
    cursor: pointer;
}
input,button{
   border: none;
   background: none;
   outline: none;
   color: inherit;
}
ul{
    list-style-type: none;
}
.container{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.top-banner{
    color: var(--white);
}
.container h1{
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    padding: 56px 0 30px 0;
}
.top-banner form{
    position: relative;
    display: flex;
    align-items: center;
}
.top-banner form input{
    font-size: 2rem;
    height: 40px;
    padding: 8px 8px 10px;
    border-bottom: 1px solid;
}
.top-banner form input::placeholder{
    color: currentColor;
}
.submit{
    font-size: 1rem;
    color: var(--white);
    background-color: var(--red);
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    margin-left: 15px;
    letter-spacing: 0.1em;
    padding: 15px 20px;
}
.submit:hover{
    background-color: var(--darkred);
}

