@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --white: #fff;
    --background:#0a1f44;
    --red:#ff1e42;
    --darkred: #c3112d;
    --orange:#ff8c00;
    --textDark:#1e2432;
    --textMed:#53627c;
        
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
background-color: var(--background);
color:var(--textDark);
font-family:  "Roboto", sans-serif;
font-size: 1rem;
}

button{
    cursor: pointer;
}
input,button{
   border: none;
   background: none;
   outline: none;
   color: inherit;
}

ul{
    list-style-type: none;
}
.container{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.top-banner{
    color: var(--white);
}
.container h1{
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    padding: 56px 0 30px 0;
}
.top-banner form{
    position: relative;
    display: flex;
    align-items: center;
}
.top-banner form input{
    font-size: 2rem;
    height: 40px;
    padding: 8px 8px 10px;
    border-bottom: 1px solid;
    border-radius: 5px;

}
.top-banner form input::placeholder{
    color: currentColor;
   
    
}

.submit{
    font-size: 1rem;
    color: var(--white);
    background-color: var(--red);
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    margin-left: 15px;
    letter-spacing: 0.1em;
    padding: 15px 20px;
}
.submit:hover{
    background-color: var(--darkred);
}


/* section-2 */

.ajax-section{
    margin: 70px 0 20px;
    }
.ajax-section .cities{
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4,1fr);
}
.ajax-section li{
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: var(--white);
    color: var(--textMed);
    box-shadow: 1px 10px;
}
.ajax-section .city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    background: var(--text_light);
  }
  
  .ajax-section figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding: 0 0 6px 0px;
  }
  
  .ajax-section .city-temp {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--textDark);
  }
  
  
  
  .ajax-section .city-name {
    padding: 0;
    /* border-radius: 30px; */
    /* color: var(--text_light); */
    /* background: var(--orange); */
    font-size: 1.5rem;
    text-transform: capitalize;
    
  }
  
  .ajax-section .city-icon {
    margin-top: 13px;
    width: 100px;
    height: 98px;
    font-size: 78px;
    /* background-color: #fff; */
    color: cadetblue;
  }

  /*  */
  #sidebar{
 /* width: 200px; */
  float: right;
  padding: 10px;
  background-color: var(--background);
  color: var(--white);
  position: absolute;
    top: 56px;
    /* left: 0; */
    right: 15px;
}
.recent-searches {
    list-style-type: none;
    margin-top: 28px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  
  .recent-searches li {
    margin-bottom: 10px;
  }
  
  .recent-searches .city-name {
    font-weight: bold;
  }
  .recent-searches .city-temp{
    float: right;
    font-weight: bold;
  }
  .recent-searches strong {
    float: right;
  }