*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    background: #1B1B32;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    margin: 20px auto;
    max-width: 350px;
}
form{
    color:  #f5f6f7;
    margin: auto 25px;
    padding: 120px;
    border: 3px solid  #f5f6f7;
    text-align: center;
    width: 90%;
    max-width: 500px;
    background-color: #3b3b4f;
}
fieldset {
    border: 0 none;
    height: 100%;
    padding: 25px;
    margin: 10px 20px;
  }
  
  label {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  input {
    display: block;
    font-size: 2.5rem;
    width: 100%;
    height: 60px;
    padding: 6px 12px;
    margin: 10px 0;
    line-height: 1.4;
    color: white;
    background-color: #0a0a23;
    border: 1px solid #f5f6f7;
  }
  
  button {
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    padding: 10px 16px;
    font-size: 23px;
    width: 100%;
  }
  
  #output {
    color: white;
    background-color:#3b3b4f;
    border: 3px solid #f5f6f7;
    font-size: 2.5rem;
    width: 90%;
    max-width: 500px;
    min-height: 55px;
    margin-top: 25px;
    padding: 15px;
    overflow-wrap: break-word;
    text-align: center;
  }
  .hidden {
    display: none;
  }