@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
}
p{
    margin-bottom: 21px;
    margin-top: 15px;
    font-size: 27px;
    font-weight: 300;
}
button{
    color: #fff;
    background-color: #33C3F0;
    border-color: #33C3F0;
    font-size: 1rem;
    padding: 4px 19px;
    border-radius: 3px;
}
h1{
    font-weight: 500;
}
 .rows{
    display: flex;
    flex-direction: row; 
    max-width: 70%;
    margin: auto;
 }
 .columns img{
    width: 432px;
    height: 432px;
    /* margin-left: 30px; */
    margin-right: 24px;
 }

 .video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.meal{
    margin-top: 50px;
}