*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


header{
   display:flex;
   justify-content:space-between;
   min-height:15px;
   align-items:end
}
#header{
    border:2px solid black;
    font-size: medium;
    display:flex;
    align-items: baseline;
}
nav{
    
}
.nav-link{
    list-style-type: none;
}



