*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "sans";
    color: black;
    background-color: #19172e;
}
.main-container h2{
  color: #fff;
  padding-top: 10px;
  text-align: center;
  font-size: 2rem;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
p{
    color: #fff;
    font-size: 1.5rem;
    background: #333;
    text-align: center;
    border: none;
    display: block;
    margin: 15px auto;
    padding: 20px;
    
}
.btn{
    background: #333;
    color:white;
    font-size: 1.5rem;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}
