@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #efedd6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
div{
    background-color: steelblue;
    width: 400px;
    height: 200px;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    margin: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    /*transform: translateX(400%);*/
    transition: transform 0.4s ease;

}
h2{
    font-size: 45px;
}
.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box
 {
    transform: translateX(0);
}
h1{
    font-size: 38px;
    font-weight: bolder;
    margin: 43px;

}
