@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    background-color: #686de0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:"Roboto", Arial, Helvetica, sans-serif;
}
/*design on wrapper */
.wrapper{
    border: 2px solid white;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffff;
    border-radius: 10px;
    width: 804px;
    height: 54vh;
    text-align: center;
}
h1{
   font-size: 22px;
    /* color: grey; */
    opacity: 0.5;
    font-weight: 600;
    letter-spacing: 1.8px;
}
p{
    font-size: 1.9rem;
    margin: 50px 0;
    width: 599px;
    letter-spacing: 0.9px;
    line-height: 40px;
}
button{
    font-size: 0.93rem;
    background-color: #9f68e0;
    width: 190px;
    height: 46px;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: -38px 217px

}